.env
*.env

__pycache__/
*.pyc

venv/
.venv/
env/

node_modules/
    
catalog_data.json

catalog_data_clean.json

data.json

owner_data.json

owner_data_utf8.json

owner_data_clean.json

catalog_b64.txt
